body {
  width: 100%;
  margin: 0;
  height: auto;
}
.wrapper {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 100%;
  height: auto;
}
.content {
  width: 100%;
}

/*header*/
.logo {
  float: left;
  text-align: left;
  height: 60px;
}
.logo img {
  height: 60px;
}
.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 5px 10px -6px rgba(0, 0, 0, 0.1);
  text-align: center;
  height: 60px;
}
.container {
  width: 50%;
  text-align: center;
  margin-left: 50px;
}
.menu-btn {
  position: fixed;
  top: 10px;
  left: 10px;
  display: flex;
  height: 40px;
  width: 40px;
  justify-content: center;
  align-items: center;
  z-index: 90;
  background-color: white;
}
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
content: '';
display: block;
height: 3px;
width: 22px;
border-radius: 3px;
background-color: #5d4d4d;
position: absolute;
}
.menu-btn span:before {
bottom: 8px;
}
.menu-btn span:after {
top: 8px;
}
#menu-btn-check:checked ~ .menu-btn span {
  background-color: rgba(255, 255, 255, 0);
}
#menu-btn-check:checked ~ .menu-btn span::before {
  bottom: 0;
  transform: rotate(45deg);
}
#menu-btn-check:checked ~ .menu-btn span::after {
  top: 0;
  transform: rotate(-45deg);
}
.gnav {
  width: 30%;
  height: 100%;
  position: fixed;
  top: 0;
  padding: 40px;
  padding-right: 0;
  right: 100%;
  z-index: 80;
  background-color: rgba(255, 255, 255, 1.0);
  box-shadow: 5px 0 10px -6px rgba(0, 0, 0, 0.1);
  transition: all 0.5s;
}

.gnav-list {
  display: inline;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 40px;
}

.gnav-item:not(:last-child) {
  margin-left: 10px;
}

#menu-btn-check {
  display: none;
 }
.gnav-item a {
  position: relative;
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
  padding: 5px 0;
  transition: 0.3s;
  letter-spacing: 0.05em;
  color: #5d4d4d;
  text-decoration: none;
}

.gnav-item a:after {
  display: none;
}

.gnav-item {
  margin: 0;
  padding: 0;
}

.gnav-item:not(:last-child) {
  margin-left: 0px;
}

#menu-btn-check:checked ~ .gnav {
  right: 70%;
}
@media screen and (max-width: 480px) {
  .gnav {
    width: 50%;
  }
  .gnav-item a {
    font-size: 14px;
  }
  #menu-btn-check:checked ~ .gnav {
    right: 50%;
  }
}
.header-btn {
  float: right;
}
.sitehosii-btn, .sitai-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  content: "";
  position: absolute;
  width: 140px;
  height: 90px;
  background: #FFF;
  border-radius: 0 0 30px 30px;
  transition: 0.3s;
  box-shadow: 5px 5px 10px -6px rgba(0, 0, 0, 0.1),-5px 0px 10px -6px rgba(0, 0, 0, 0.1);
  font-size: 10px;
  font-weight: bold;
  color: #5d4d4d;
}
.sitehosii-btn {
  right: 180px;
}
.sitai-btn {
  right: 20px;
}

@media screen and (max-width: 480px) {
  .header-text {
    display: none;
  }
  .sitehosii-btn, .sitai-btn {
    width: 50px;
    height: 70px;
  }
  .sitehosii-btn img, .sitai-btn img {
    width: 80%;
  }
  .sitehosii-btn {
    right: 80px;
  }
}

/*footer*/
.footer {
  color: #5d4d4d;
  text-align: center;
  padding-top: 10px;
  width: 100%;
  box-shadow: 0 -5px 10px -6px rgba(0, 0, 0, 0.1);
}


@media screen and (max-width: 480px) {
  body {
	width: 100%;
    margin: auto;
  }
  
  #top {
	width: 100%;
}
  .ranking-scroll li {
    width: 45%;
  }
}

.Form {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
@media screen and (max-width: 480px) {
  .Form {
    margin-top: 40px;
  }
}
.Form-Item {
  border-top: 1px solid #ddd;
  padding-top: 24px;
  padding-bottom: 24px;
  width: 100%;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 480px) {
  .Form-Item {
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 16px;
    padding-bottom: 16px;
    flex-wrap: wrap;
    width: auto;
  }
}
/*.Form-Item:nth-child(5) {
  border-bottom: 1px solid #ddd;
}*/
.Form-info {
  font-weight: bold;
  font-size: 18px;
}
#sonota {
  background: #b6bab9;
}
.Form-Item-Label {
  width: 100%;
  max-width: 248px;
  letter-spacing: 0.05em;
  font-weight: bold;
  font-size: 18px;
}
@media screen and (max-width: 480px) {
  .Form-Item-Label {
    max-width: inherit;
    display: flex;
    align-items: center;
    font-size: 15px;
  }
}
#Form-Item-Label-miryoku {
  width: 100%;
  max-width: 200px;
  letter-spacing: 0.05em;
  font-weight: bold;
  font-size: 18px;
}
@media screen and (max-width: 480px) {
  #Form-Item-Label-miryoku {
    max-width: 100px;
    margin-left: auto;
    margin-right: auto;
  }
}
.Form-Item-Label.isMsg {
  margin-top: 8px;
  margin-bottom: auto;
}
@media screen and (max-width: 480px) {
  .Form-Item-Label.isMsg {
    margin-top: 0;
  }
}
.Form-Item-Label-Required {
  border-radius: 6px;
  margin-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 48px;
  display: inline-block;
  text-align: center;
  background: #80c0b0;
  color: #fff;
  font-size: 14px;
}
@media screen and (max-width: 480px) {
  .Form-Item-Label-Required {
    border-radius: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 32px;
    font-size: 10px;
  }
}
.Form-Item-Input {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-left: 40px;
  padding-left: 1em;
  padding-right: 1em;
  height: 48px;
  flex: 1;
  width: 100%;
  max-width: 600px;
  background: #eaedf2;
  font-size: 18px;
}
@media screen and (max-width: 480px) {
  .Form-Item-Input {
    margin-left: 0;
    margin-top: 18px;
    height: 40px;
    flex: inherit;
    font-size: 15px;
  }
}
.Form-Item-Textarea {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-left: 40px;
  padding-left: 1em;
  padding-right: 1em;
  height: 216px;
  flex: 1;
  width: 100%;
  max-width: 600px;
  background: #eaedf2;
  font-size: 18px;
  font-family: inherit;
}
@media screen and (max-width: 480px) {
  .Form-Item-Textarea {
    margin-top: 18px;
    margin-left: 0;
    height: 200px;
    flex: inherit;
    font-size: 15px;
  }
}
.Form-Btn {
  border-radius: 100px;
  margin-top: 32px;
  margin-bottom: 32px;
  margin-left: auto;
  margin-right: auto;
  padding: 1em 2em;
  display: block;
  letter-spacing: 0.05em;
  background: #80c0b0;
  color: #fff;
  font-weight: bold;
  font-size: medium;
  border: none;
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.15);
}
@media screen and (max-width: 480px) {
  .Form-Btn {
    margin-top: 24px;
  }
}
.Form-Btn {
  transition: transform 0.2s;
}
.Form-Btn:hover {
  transform: scale(1.05);
}
.Form-Btn:active {
  animation: button-click-animation 0.2s;
}
.sitehosii-btn {
  transition: transform 0.2s;
}
.sitehosii-btn:hover {
  transform: scale(1.05);
}
.sitehosii-btn:active {
  animation: button-click-animation 0.2s;
}
.sitai-btn {
  transition: transform 0.2s;
}
.sitai-btn:hover {
  transform: scale(1.05);
}
.sitai-btn:active {
  animation: button-click-animation 0.2s;
}
@keyframes button-click-animation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.95);
  }
}
.syasen {
  font-size: 30px;
  margin-left: 40px;
}

/*Omoi noO.html*/
.title {
  color: #5d4d4d;
  text-shadow: 3px 3px 10px silver;
}
#omoi-detail {
  text-align: center;
  margin-top: 90px;
}
.Form-Item-text {
  margin-left: 40px;
  padding-left: 1em;
  padding-right: 1em;
  height: 18px;
  flex: 1;
  width: 100%;
  font-size: 18px;
  display: block;
  text-align: left;
}
@media screen and (max-width: 480px) {
  .Form-Item-text {
    margin-left: 0;
    margin-top: 18px;
    height: 40px;
    flex: inherit;
    font-size: 15px;
  }
}
.Form-Item-textlong {
  margin-left: 40px;
  padding-left: 1em;
  padding-right: 1em;
  flex: 1;
  width: 100%;
  font-size: 18px;
  font-family: inherit;
  text-align: left;
  height: auto;
}
@media screen and (max-width: 480px) {
  .Form-Item-textlong {
    margin-top: 18px;
    margin-left: 0;
    height: auto;
    flex: inherit;
    font-size: 10px;
  }
}
#article-textlong {
  margin-left: 0;
}
.photo-info img {
  height: 140px;
  width: auto;
  margin-left: 0;
}
#Form-photo {
  margin-top: 10px;
}
.photo-info {
  display:flex;
  flex-flow: column;
  margin-left: 40px;
  width: auto;
}
@media screen and (max-width: 480px) {
  .photo-info{
    margin-left: 0;
  }
}
#delete {
  width: 43px;
}

/*flow*/
.flow-description {
  text-align: center;
  font-weight: bold;
}
@media screen and (max-width: 480px) {
  .flow-description {
    font-size: 10px;
  }
}
#flow {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 90px;
  width: 80%;
  height: auto;
}
#flow-title {
  margin-top: 40px;
  text-align: center;
}
.step-title {
  font-weight: bold;
  font-size: 20px;
}
@media screen and (max-width: 480px) {
  .step-title {
    font-size: 12px;
  }
}
.step {
padding-top: 24px;
padding-bottom: 24px;
width: 100%;
height: auto;
display: flex;
}
@media screen and (max-width: 480px) {
.step {
  padding-left: 14px;
  padding-right: 14px;
  padding-top: 16px;
  padding-bottom: 16px;
  flex-wrap: wrap;
}
}

.step-number {
width: 100%;
max-width: 248px;
letter-spacing: 0.05em;
font-weight: bold;
font-size: 18px;
}
@media screen and (max-width: 480px) {
.step-number {
  max-width: inherit;
  display: flex;
  align-items: center;
  font-size: 15px;
}
}

.step-text {
border-radius: 6px;
padding-left: 1em;
padding-right: 1em;
height: auto;
flex: 1;
width: 100%;
max-width: 600px;
font-size: 18px;
text-align: left;
}
@media screen and (max-width: 480px) {
.step-text {
  margin-left: 0;
  margin-top: 18px;
  height: auto;
  flex: inherit;
  font-size: 10px;
  padding: 0;
}
}
.nouka-flow, .kigyou-flow {
  margin-top: 70px;
  height: auto;
}

/*vision.html*/
#vision {
  margin-top: 90px;
  text-align: center;
}
.concept-width {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.concept-title {
  text-align: left;
  margin-top: 30px;
  font-size: 20px;
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
}
.vision-title {
  font-size: 14px;
}
@media screen and (max-width: 480px) {
  .vision-title {
    font-size: 8px;
  }
}
.sub-title {
  max-width: 680px;
  margin-left: auto;
  margin-right: auto;
}

.description {
  text-align: left;
  font-weight: bold;
}
#miryoku {
  text-align: center;
  padding-top: 40px;
}
.miryoku {
  font-weight: bold;
}
@media screen and (max-width: 480px) {
  .concept-title {
    font-size: 13px;
  }
  .description {
    font-weight: normal;
    font-size: 10px;
  }
}

#kureyon-title {
  width: 80%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 480px) {
  #kureyon-title {
    font-size: 14px;
  }
}
@media screen and (max-width: 480px) {
  h2 {
    font-size: 16px;
  }
}
